# Default ignored files
/shelf/
/handwriting_forgery_pytorch/.idea/workspace.xml
/handwriting_forgery_pytorch/handwriting_dataset/**
/handwriting_forgery_pytorch/handwriting_dataset/fake_signatures/
/handwriting_forgery_pytorch/handwriting_dataset/
/handwriting_forgery_pytorch/model_checkpoint.pth

